<div id="preview_box">
  <%= form_for(@markdown) do |f| %>
    <div class="single_column">
      タイトル
      <%= f.text_area :title, class: :content%>
    </div>

    <div class="left_column">
      Markdown
      <%= f.text_area :content, class: :content %>
    </div>

    <div class="right_column">
      プレビュー
      <div id="preview" class="content border"></div>
    </div>

    <div class="clear">
      <%= f.submit %>
    </div>

  <% end %>
</div>
