#preview_box {
    @mixin content($height) {
        .content {
            width: 100%;
            height: $height;
            padding: 0px;
        }
    }
    @mixin column($side) {
        @include content(400px);
        width: 49%;
        float: $side;
    }
    .left_column  {
        @include column(left);
    }
    .right_column {
        @include column(right);
    }
    .single_column {
        width: 100%;
        @include content(15px);
    }
    .clear {
        clear: both;
    }
    .border {
        border: 1px solid #000;
    }
}